body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  position: relative;
}

header {
  margin-top: 2rem;
  height: 5%;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.player-info {
  margin-top: 2rem;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player-one-info {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  margin-left: 5rem;

  justify-content: center;
  align-items: center;
}

.player-one-info img,
.player-two-info img {
  height: 150px;
  width: 150px;
  margin-bottom: 2rem;
}

.player-two-info {
  font-size: 32px;
  display: flex;
  flex-direction: column;
  margin-right: 5rem;

  justify-content: center;
  align-items: center;
}

.player-one-score,
.player-two-score {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.tic-tac-toe-container {
  margin-top: 3rem;

  align-self: center;

  width: 35%;
  aspect-ratio: 1;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.tic-tac-toe-square {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3rem;
}

.tic-tac-toe-square:nth-child(1),
.tic-tac-toe-square:nth-child(2),
.tic-tac-toe-square:nth-child(4),
.tic-tac-toe-square:nth-child(5) {
  padding: 1rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.tic-tac-toe-square:nth-child(3),
.tic-tac-toe-square:nth-child(6) {
  border-bottom: 2px solid black;
}

.tic-tac-toe-square:nth-child(7),
.tic-tac-toe-square:nth-child(8) {
  border-right: 2px solid black;
}

.add-X {
  background-image: url(../images/alpha-x.svg);
}

.add-O {
  background-image: url(../images/alpha-o.svg);
}
